# macOS
.DS_Store

# Xcode
DerivedData/
build/
xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
